@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

.style-script-regular {
  font-family: "Style Script", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-gray-200:hover {
  background-color: blue;
}

.pressed {
  background-color: red;
}

input[type="file"] {
  appearance: none;
  -webkit-appearance: none;
}

body {
  @apply m-0;
  background-color: rgba(253, 242, 228, 0.288);
}

/* HEADER CSS */
.header {
  @apply py-6 flex justify-center;
}

.title {
  @apply text-gray-800 text-5xl leading-none;
}

/* Mobile-specific styles for iPhone 12 */
@media only screen and (max-width: 768px) {
  .header {
    @apply py-6 flex justify-center;
  }

  .title {
    @apply text-gray-800 text-5xl leading-none;
  }
}

/* Scaling up for larger screens */
@media only screen and (min-width: 768px) {
  .header {
    @apply py-4 flex justify-center;
  }

  .title {
    @apply text-gray-800 text-5xl leading-none;
  }
}

@media only screen and (max-width: 768px) {
  .uploader {
    @apply mx-11 my-6;
  }
}

/* Scaling up for larger screens */
@media only screen and (min-width: 768px) {
  .uploader {
    @apply mx-44 my-11;
  }
}
